body{
    background-color: rgb(26, 25, 25);
}

/* Animation snowfall */
#snow{
    background-image: url("img/snow_1.png"), url("img/snow_2.png"), url("img/snow_3.png");
    z-index: 1;
    
    animation: snow 5s linear infinite;
}
@keyframes snow{
    0%{
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }


    100%{
        background-position: 500px 750px, 150px 1500px, -175px 150px;
    }
}


#toy3{
    position: fixed;
    width: 2.5%;
    left: 45%;
    top: 13%;
}

#toy1{
    position: fixed;
    width: 3%;
    left: 50.5%;
    top: 19%;
}

#toy2{
    position: fixed;
    width: 1.5%;
    left: 49.3%;
    top: 13%;
    transform-origin: top;
    /* animation: toyShake ease-in-out 3s infinite; */
}

@keyframes toyShake{
    25%{
        transform: rotate(30deg);
    }

    75%{
        transform: rotate(-30deg);
    }

}

.shaking{
    animation: toyShake 3s infinite;
}

#tree{
    position: fixed;
    left: calc(50% - 120px);
    background-image: url("img/803px-Christmas_tree.svg.png");
    background-size: contain;
    width: 167px;
    height: 214px;
}

#countdown{
    position: absolute;
    left: 21%;
    top: 50%;
    font-family: 'Squada One', cursive;
    color: white;
}

#countdown>p{
    position: relative;
    font-size: 42pt;
}

#countdown>span{
    position: relative;
    top: -50px;
    font-size: 32pt;
}

@font-face {
    font-family: 'Mountains of Christmas';
    font-style: normal;
    src: local("Mountains of Christmas"), local("MountainsofChristmas-Regular"), url(https://fonts.gstatic.com/s/mountainsofchristmas/v8/dVGBFPwd6G44IWDbQtPewylJhLDHyIrT3I5b5eGTHmw.woff2) format("woff2");

  }  

#graz{
    position: absolute;
    left: 20%;
    top: 14%;
    color: #4156ca;
    font-family: 'Mountains of Christmas';
    user-select: none;
}

#graz>h1{
    font-size: 140pt;
}